@import "../../../styles";

.mapouter {
  overflow: hidden;
  height: 180px;
  width: 180px;
  margin: 0 auto;
}

.gmap_canvas {
  background: none !important;
  height: 180px;
  width: 180px;
}

#contact {
  padding-top: 3rem;
}
