<section id="contact" class="text-white bg-dark">
  <div class="container">
    <div class="title-header">
      <span class="text-light h4">Contact Us</span>
      <br/>
      <div class="mx-auto my-1 bg-light underline-style"></div>
    </div>
    <p class="text-center w-75 m-auto">Here are few ways to get in touch with us</p>
    <div class="row mt-3">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 text-white bg-dark">
          <div class="card-body text-center px-0">
            <i class="fa fa-phone fa-3x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-3">call us</h4>
            <p>+91-9754495403<br/>+91-8602032903<br/>+91-9893069961</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 text-white bg-dark">
          <div class="card-body text-center px-0">
            <i class="fa fa-envelope fa-3x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-3">email</h4>
            <p>smartcoachingbsp@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 text-white bg-dark">
          <div class="card-body text-center px-0">
            <i class="fa fa-map-marker fa-3x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-3">office Location</h4>
            <address>Keshav Murra Bhatta Road, Near Transformer,Hemu Nagar Bilaspur, 495004</address>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card border-0 text-white bg-dark">
          <div class="card-body text-center px-0">
            <div class="mapouter" (click)="viewOnMap()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
