<div class="content">
  <div class="main-container">
    <div class="intro"></div>
    <div class="container main-content py-3">
      <h1 class="heading text-primary">Smart Coaching</h1>
      <div class="intro-text my-2 p-3 text-light">
        <span>Our aim is to provide quality education in Bilaspur and build up a bright academic career for our students. We specializes in providing well qualified and experienced faculties. <br/> Our programs include classes for all subjects for students from 6th to 12th for both CBSE &amp; CG board studying in English or Hindi medium</span>
      </div>
    </div>
    <div class="text-center demo-slot-container d-none d-sm-block">
      <button class="btn btn-lg btn-outline-primary bg-light text-uppercase my-1 py-3 demo-btn" routerLink="/book-demo">Book for Demo Slot</button>
      <button class="btn btn-lg btn-outline-primary bg-light text-uppercase my-1 py-3 demo-btn" routerLink="/apply-job">Apply for Faculty Job</button>
    </div>
  </div>
  <smart-notification></smart-notification>
  <smart-services></smart-services>
  <smart-testimonials></smart-testimonials>
  <smart-form-container class="d-sm-none"></smart-form-container>
</div>
<smart-footer></smart-footer>
