<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
  <div class="container">
    <a class="navbar-brand text-uppercase text-light" routerLink="/home">
      Smart Coaching
    </a>
    <button class="navbar-toggler d-block d-sm-none" type="button" data-toggle="collapse" data-target="#toggleMenu" (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="toggleMenu" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item header-btn">
          <a class="nav-link" routerLink="/book-demo" routerLinkActive="active">Book Demo</a>
        </li>
        <li class="nav-item header-btn">
          <a class="nav-link" routerLink="/apply-job" routerLinkActive="active">Apply Job</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
