<nav class="navbar nabvar-dark notification-bar">
  <div class="container-fluid">
      <marquee>
        <span class="notify">Lorem ipsum dolor Lorem ipsum dolor dolor Lorem ipsum dolor!</span>
        <span class="notify">Lorem ipsum dolor Lorem ipsum dolor dolor Lorem ipsum dolor!</span>
        <span class="notify">Lorem ipsum dolor Lorem ipsum dolor dolor Lorem ipsum dolor!</span>
        <span class="notify">Lorem ipsum dolor Lorem ipsum dolor dolor Lorem ipsum dolor!</span>
        <span class="notify">Lorem ipsum dolor Lorem ipsum dolor dolor Lorem ipsum dolor!</span>
        <span class="notify">Lorem ipsum dolor Lorem ipsum dolor dolor Lorem ipsum dolor!</span>
      </marquee>
  </div>
</nav>