@import "../../../styles";
.notification-bar{
    background: rgba(0, 0, 0, 0.4);
    height: 50px;
    margin-top: -50px !important;
    color: theme-color("light");;

    span.notify {
        padding: 5px 20px;
        border-right: 2px solid theme-color("primary");
        cursor: pointer;
    }
}



