<div class="container py-3" id="formContainer">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
          <button type="button" class="bg-light btn btn-lg btn-block btn-outline-primary text-uppercase my-1 py-3" routerLink="/book-demo">Book for Demo Slot</button>
        </div>
        <div class="col-sm-6 col-xs-12">
            <button type="button" class="bg-light btn btn-lg btn-block btn-outline-primary text-uppercase my-1 py-3" routerLink="/apply-job">Apply for Faculty Job</button>
        </div>
      </div>
</div>
