<div class="main-container">
    <div class="intro"></div>
    <div class="container main-content py-3">
        <h1 class="heading">Smart Coaching</h1>
        <div class="intro-text my-2 mx-4 p-3">
            <span>Fusce varius felis ex, sit amet sagittis nisl dictum in. Nunc et orci urna. Vestibulum sed tortor scelerisque, facilisis ex at, congue tortor. Donec ut rhoncus felis. Sed id odio sed est vehicula viverra. Nullam ac nisi sagittis, egestas nunc eu, hendrerit elit. Quisque mauris urna, rhoncus ut rutrum non, finibus quis lectus. </span>
        </div>
    </div>
</div>   
