@import "../../../styles";

div.main-container {
    position: relative;
    width: 100%;
    min-height: 600px;
}
div.intro {
    background-image: url("http://res.cloudinary.com/dren4jgbp/image/upload/v1518117934/Female-Student-1_s5relu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    width: 100%;
    min-height: 600px;
    position: absolute;
    top:0;
    filter: blur(2px);
    z-index: -1;
}


.heading {
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
}

.intro-text{
    border-left: 3px solid theme-color("primary");
    background: rgba(0, 0, 0, 0.2);
    max-width: 575px;
}


@media (max-width: 576px) { 
    div.intro {
        background-position: 90% top;
    }
}

.demo-slot-container{
    position: absolute;
    bottom: 100px;
    width: 100%;
}

.demo-btn {
   width: 400px;
}

.demo-btn:hover {
    color: theme-color("primary");
}