<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <script>
      document.documentElement.className = document
        .documentElement
        .className
        .replace(/\bno-js\b/g, '') + 'has-js ';
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{seo.keywords}}">
    {% seo "" %}
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  </head>
  <body id="top" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <!-- Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="{{site.logo_light}}" alt=""/>
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader End -->
    <!-- Header Start -->
    <header>
      <div class="header-area header-transparrent py-2">
        <div class="main-header header-sticky">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <!-- Logo -->
              <div class="col">
                <div class="logo">
                  <a href="/"><img src="{{site.logo}}" height="80" alt="scc logo"/></a>
                </div>
              </div>
              <div class="col text-right">
                <button class="border-btn"><i class="icon-phone">&nbsp;{{site.contact_number}}</i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>
    {{ content | safe }}
    <script src="/scripts/index.js"></script>
  </body>
</html>