<div id="review">
    <div class="container" >
        <!-- <div class="title-header pt-3">
          <span class="text-primary h4">Review</span><br/>
          <div class="mx-auto my-1 bg-primary underline-style"></div>
        </div> -->
        <div class="py-3 row">
          <div class="col-sm-6 col-xs-12 my-1">
            <button class="btn btn-block btn-lg btn-fb" (click)="fbRedirect()">
                <i class="fa fa-thumbs-o-up "></i> Like us on Facebook
            </button>
          </div>
          <div class="col-sm-6 col-xs-12 my-1">
            <button class="btn btn-block btn-lg btn-google" (click)="googleRedirect()">
                <i class="fa fa-google"></i> Leave a review on Google
            </button>
          </div>
        </div>
    </div>
</div>
