<div id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="service-container">
          <div class="top_line"></div>
          <div class="service-icon">
            <img src="assets/icons/teacher.svg" alt=""  width="50px">
          </div>
          <h4 class="service-title">Experienced Faculty</h4>
          <div class="service-content">We specializes in providing well qualified and experienced faculties</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-container">
          <div class="top_line"></div>
          <div class="service-icon">
              <img src="assets/icons/exams.svg" alt=""  width="50px">
          </div>
          <h4 class="service-title">Frequent Tests</h4>
          <div class="service-content">We frequently conduct tests to monitor student progress and weak areas</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="service-container">
            <div class="top_line"></div>
            <div class="service-icon">
                <img src="assets/icons/test_reports.svg" alt=""  width="50px">
            </div>
            <h4 class="service-title">Performance Reports</h4>
            <div class="service-content">We provide performance reports to help your parents track your progress</div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-container">
          <div class="top_line"></div>
          <div class="service-icon">
            <img src="assets/icons/revisions.svg" alt=""  width="50px">
          </div>
          <h4 class="service-title">Revision Sessions</h4>
          <div class="service-content">We facilitate doubt clearing and revision sessions for better learning</div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4">
        <div class="service-container">
          <div class="top_line"></div>
          <div class="service-icon">
            <img src="assets/icons/spoken_english.svg" alt=""  width="50px">
          </div>
          <h4 class="service-title">Spoken English</h4>
          <div class="service-content">We conduct spoken english classes for personality development</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-container">
          <div class="top_line"></div>
          <div class="service-icon">
            <img src="assets/icons/save_money.svg" alt=""  width="50px">
          </div>
          <h4 class="service-title">Affordable Fees</h4>
          <div class="service-content">We have affordable fee structure with easy installments scheme</div>
        </div>
      </div>
    </div>
  </div>
</div>
