@import "../../../styles";

.ptb-50 {
  padding: 50px 50px;
}


#services {
    padding: 3rem 0;
}


.service-container {
  text-align: center;
  padding: 0 35px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  @include prefix("box-shadow", 0 8px 12px 0 rgba(0, 0, 0, 0.2));
}


.top_line {
  position: absolute;
  top: 0;
  left: 44%;
  background-color: theme-color("primary");
  width: 50px;
  height: 3px;
}

.service-icon {
  padding: 40px 0;
}

.service-icon img {
  margin: 0 auto;
}

.service-title {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 35px;
  margin: 0;
  color: #2b353a;
}

.service-content {
  padding-bottom: 65px;
  color: #2b353a;
}