<div id="testimonial">
  <div class="container" >
    <div class="title-header pt-3">
      <span class="text-primary h4">Student Testimonials</span><br/>
      <div class="mx-auto my-1 bg-primary underline-style"></div>
      <div>
        <ngb-carousel>
          <div *ngFor="let testimony of testimonials">
            <ng-template ngbSlide>
              <div class="jumbotron jumbotron-fluid bg-light">
                <div class="container text-center w-75">
                  <p class="text-big">{{testimony.content}}</p>
                  <p class="text-right">
                    <strong class="text-primary">{{testimony.name}}</strong><br/>
                    <span class="text-muted font-weight-light">{{testimony.course}}</span>
                  </p>
                </div>
              </div>
            </ng-template>
          </div>
        </ngb-carousel>
      </div>
</div>

