  <div class="container">
    <h3 class="testimonials-header">Student Testimonials</h3>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="jumbotron jumbotron-fluid" style="background-color: white">
          <div class="container text-center">
            <h1 class="display-5">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="jumbotron jumbotron-fluid" style="background-color: white">
          <div class="container text-center">
            <h1 class="display-5">Fluid jumbotron 2</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="jumbotron jumbotron-fluid" style="background-color: white">
          <div class="container text-center">
            <h1 class="display-5">Fluid jumbotron 3</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>