---
layout: layouts/base.njk
title: Home
---
<h1>{{intro.title}}</h1>
<div>
{% markdown %}
    {{intro.text}}
{% endmarkdown %}
</div>

<img src="{{intro.image}}" height="100">
{% for form in forms %}
    <button type="button" data-arengu-modal-form-id="{{form.form_id}}">{{form.button_title}}</button>
{% endfor %}


<iframe src="{{contact.map}}" width="150" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>




{# Scripts #}
<script async src="https://sdk.arengu.com/forms.js"></script>
<script async src="https://sdk.arengu.com/modal.js"></script>
