/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oxygen');
$theme-colors: (
    "dark": #020202,
    "primary": #8448ff,
    "secondary":#6039bf,
    "light": #fdfdfd
);

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";


@mixin prefix($property, $value) {
    #{'-moz-' + $property}: $value;
    #{'-ms-' + $property}: $value;
    #{'-webkit-' + $property}: $value;
    // Output standard non-prefixed declaration
    #{$property}: $value;
}

.underline-style {
    width: 50px;
    height: 3px;
}

.text-small {
  font-size: 12px;
}

.title-header {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 100 !important;
}

.text-big {
    font-size: 1.2rem;
}

.text-medium {
    font-size: 0.8rem;
    font-weight: 100;
}


.custom-file-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  line-height: 1.5;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid;
  border-radius: .25rem;
  div.file-input {
    padding: 0.5rem 1rem;
    color: #495057;
  }
}

.border-muted {
  border-color:  rgba(0,0,0,.15);
}

.loading {
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background: rgba(0,0,0,0.2);
    z-index: 100;
    position: fixed;
}